@import "../../app.scss" ;

.about {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
  


    .imageContainer {
     width: 50%;
     height: 100%;
     opacity: 0.8;
     
      img{
        height: 80%;
        margin: 140px 0px 0px 100px;

        @include mobile{
          display: none;
        }
      }
    }
  
    .wrapper {
      display: flex;
      flex-direction: column;
      
      
    
      .textContainer {
        display: flex;
        flex-direction: column;
        margin: 80px 20px 0px 30px;
        
        @include mobile{
          margin-left: 0px;
        }
  
        h1 {
          font-size: 38px;

          @include mobile{
            font-size: 30px;
          }
        }
        h2 {
          font-size: 18px;
          font-weight: 500;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          margin-top: 25px;

          @include mobile{
            font-size: 15px;
            margin-top: 10px;
          }
        }
  
        }
  
        .buttons {
          margin-top: 20px;

          @include mobile{
            margin-top: 10px;
          }

          button {
            padding: 15px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            margin-right: 20px;
            cursor: pointer;
            font-weight: 300;

            @include mobile{
              padding: 8px;
              font-size: 12px;
             
            }
          }
        }

        .skill{
          // margin-top: auto;

          @include mobile{
            width: 100%;
            margin-left: -20px;
            display: flex;
            align-items: center;
            justify-content: center;

            
          }
        }
  
  
      }
    }
  
